<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>管理者フォーム</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1 th:text="${adminForm != null and adminForm.id != null} ? '管理者編集' : '新規管理者登録'"></h1>
  <form th:action="@{/admins/new}" th:object="${adminForm}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>名前：</label>
    <input type="text" th:field="*{name}" required/><br/>
    <label>役職：</label>
    <select th:field="*{roleId}" required>
      <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <label>メールアドレス：</label>
    <input type="email" th:field="*{email}" required/><br/>
    <br/>
    <button type="submit">保存</button>
  </form>
  <a href="/admins">戻る</a>
</body>
</html>