<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>サインイン</h1>
    <form th:action="@{/login}" method="post">
		<label>メールアドレス：</label>
		   <input type="text" name="username" required>
		   <label>パスワード：</label>
		   <input type="password" name="password" required>
		   <button type="submit">ログイン</button>
        <p th:if="${param.error}" style="color:red;">ログインに失敗しました</p>
        <p th:if="${param.logout}" style="color:green;">ログアウトしました</p>
    </form>
</body>
</html>
