<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>メーカー編集/作成</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>メーカー編集/作成</h1>
	<form th:action="${maker.id} != null ? @{/makers/update} : @{/makers/new}" 
	      th:object="${maker}" 
	      method="post">
	    <input type="hidden" th:field="*{id}" />
	    <label>名前: <input type="text" th:field="*{name}" /></label>
	    <button type="submit">保存</button>
	</form>
	<li><a th:href="@{/}">Topページへ</a></li>
</body>
</html>