<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>店舗編集</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>店舗編集</h1>
	<form th:action="@{/stores/{id}/edit(id=${store.id})}" th:object="${store}" method="post">
		<label>ID: <input type="text" th:field="*{id}" readonly /></label>
		<label>店舗名: <input type="text" th:field="*{name}" /></label>
		<label>住所: <input type="text" th:field="*{location}" /></label>
		<button type="submit">保存</button>
	</form>

</body>
</html>